Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Haitong Lin"
COLLABORATORS = ""

---

Problem 1 of Assignment 13, STATS102 Fall2019 Session 2, Duke Kunshan University, Due at Nov 20th 12：00pm beijing time
![](dku.jpg)
For this problem set, we'll be using the Jupyter notebook and nbgrader:

![](jupyter.png)

# Problem 1

Load <b>WorldCupMatches.csv</b>, calculate and return a DataFrame representing the top 5 teams descendingly ordered by the number of goals in a single world cup.

![](assignment13.png)

In [14]:
import numpy as np
import pandas as pd

def myfunction():
    # YOUR CODE HERE
    data=pd.DataFrame(pd.read_csv('WorldCupMatches.csv')).dropna().drop_duplicates()
    
    df1=data[['Year','Home Team Name','Home Team Goals']]
    df1.columns=['Year','Team Name','Goals']
    df2=data[['Year','Away Team Name','Away Team Goals']]
    df2.columns=['Year','Team Name','Goals']
    
    df=pd.concat([df1,df2])
    df=df.groupby(['Year','Team Name'])['Goals'].sum().sort_values(ascending=False)
    
    return pd.DataFrame(df[:5])

In [15]:
res=myfunction()
assert res.shape==(5,1)
assert (res.values==np.array([[27.],[25.],[23.],[22.],[19.]])).all()
assert int(res.loc[1954,'Hungary'])==27
assert int(res.loc[1954,'Germany FR'])==25
assert int(res.loc[1958,'France'])==23
assert int(res.loc[1950,'Brazil'])==22
assert int(res.loc[1970,'Brazil'])==19
res

                   Goals
Year   Team Name
1954.0 Hungary      27.0
       Germany FR   25.0
1958.0 France       23.0
1950.0 Brazil       22.0
1970.0 Brazil       19.0

# Problem 2

Load <b>artists.csv</b>, calculate and return how many artists's lifespans are 30 to 60 years (excluding 30).

Data reference: https://www.kaggle.com/ikarus777/best-artworks-of-all-time

Hint:
![](assignment13_2.png)

In [20]:
import numpy as np
import pandas as pd

def myfunction():
    # YOUR CODE HERE
    data=pd.read_csv('artists.csv')
    data['years']=data['years'].str.replace('–','-')
    data['born']=data['years'].str.extract('(\d+)').astype(int)
    data['dead']=data['years'].str.extract('-\s(\d+)').astype(int)
    data['lifespan']=data['dead']-data['born']
    output=np.sum((data['lifespan']>30)&(data['lifespan']<=60))
    return output

In [21]:
assert myfunction()==19