Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Haitong Lin"
COLLABORATORS = ""

---

Problem 1 of Assignment 12, STATS102 Fall2019 Session 2, Duke Kunshan University, Due at Nov 19th 12ï¼š00pm beijing time
![](dku.jpg)
For this problem set, we'll be using the Jupyter notebook and nbgrader:

![](jupyter.png)

# Problem 1

Load <b>WorldCupPlayers.csv</b> and <b>WorldCupMatches.csv</b>, calculate and return how many players that played all 7 games in a single world cup with the same shirt number, of course, with the same team initial and player name.

In [147]:
import numpy as np
import pandas as pd

def myfunction():
    # YOUR CODE HERE
    p=pd.read_csv('WorldCupPlayers.csv').drop_duplicates()
    m=pd.read_csv('WorldCupMatches.csv').dropna(how='any').drop_duplicates()
    data=pd.merge(m,p)
    count=data.groupby(['Year','Shirt Number','Team Initials','Player Name']).count()
    return np.sum(count['RoundID']==7)

In [148]:
assert myfunction()==960

# Problem 2

Load <b>Puerto Rico Given Names.txt</b>, calculate and return a DataFrame representing the top 5 number of occurrences of names and their corresponding years and names from 2010 to 2018 in descending order.

![](Assignment12.jpg)

In [111]:
import numpy as np
import pandas as pd

def myfunction():
    # YOUR CODE HERE
    data=pd.DataFrame(pd.read_csv('Puerto Rico Given Names.txt')).drop(columns='Gender')
    data=data[data['Year']>2009]
    top=data.groupby(['Year','Name']).sum().sort_values(by='Number of occurrences',ascending=False)
    
    return top[:5]

In [112]:
res=myfunction()

assert res.shape==(5,1)
assert (res.values==np.array([[521],[511],[474],[466],[457]])).all()
assert res.loc[2010,'Luis']['Number of occurrences']==521
assert res.loc[2010,'Angel']['Number of occurrences']==511
assert res.loc[2014,'Sebastian']['Number of occurrences']==474
assert res.loc[2013,'Sebastian']['Number of occurrences']==466
assert res.loc[2016,'Sebastian']['Number of occurrences']==457
res

                Number of occurrences
Year Name
2010 Luis                         521
     Angel                        511
2014 Sebastian                    474
2013 Sebastian                    466
2016 Sebastian                    457