Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Haitong Lin"
COLLABORATORS = ""

---

Weekly mini-project 3, STATS102 Fall2019 Session 2, Duke Kunshan University, Due at Nov 18th 12:00pm Shanghai time
![](dku.jpg)
For this problem set, we'll be using the Jupyter notebook:
![](jupyter.png)

The data used in this assignment is courtesy of the FIFA World Cup Archive website and Kaggle.

Hint: pandas.DataFrame/Series.sort_values, pandas.Series.value_counts, pandas.DataFrame/Series.groupby

(You may need to set parameters of functions for different conditions.)

# Problem 1 (0.5 point) 

Load `WorldCups.csv`, and return which country hosted the FIFA would cup with the highest attendance?

In [63]:
import numpy as np
import pandas as pd

def myfunction():
    # YOUR CODE HERE
    data=pd.read_csv('WorldCups.csv')
    attend=data['Attendance'].str.replace('.','').astype(int)
    attend1=attend.sort_values(ascending=False)
    a=attend1.index[0]
    return data['Country'].iloc[a]

In [65]:
assert myfunction()=='USA'

# Problem 2 (0.5 point) 

Load `WorldCupMatches.csv`, and return the ratio of home team win.

You need to drop duplicate lines.

In [263]:
import numpy as np
import pandas as pd

def myfunction():
    # YOUR CODE HERE
    data=pd.read_csv('WorldCupMatches.csv')
    data=data.dropna()
    df=pd.DataFrame(data)
    num1=np.sum(data['Home Team Goals']>data['Away Team Goals'])
    num2=len(df.index)
    return num1/num2

In [264]:
assert abs(myfunction()-0.572)<0.01

# Problem 3 (0.5 point) 

Read `TerritoryReadMe.pdf` first to learn about the data in `PR.txt` and `TR.txt`.

Calulate the total number of occurrences of name $Aaliyah$ in Puerto Rico from 1998 to 2010.

In [265]:
import numpy as np
import pandas as pd

def cnt_Aaliyah():
    # YOUR CODE HERE
    data=pd.read_csv('PR.txt')
    df=pd.DataFrame(data)
    df=df.loc[df['Paola']=='Aaliyah']
    a=df.loc[df['1998'].isin(['1998','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010'])]
    return np.sum(a['724'])

In [266]:
assert cnt_Aaliyah() == 165

# Problem 4 (0.5 point) 

Read `TerritoryReadMe.pdf` first to learn about the data in `PR.txt` and `TR.txt`.

In Puerto Rico and all other territories, find there are how many different names.

In [395]:
import numpy as np
import pandas as pd

def cnt_names():
    # YOUR CODE HERE
    data1=pd.read_csv('PR.txt')
    n=data1['Paola'].value_counts()
    
    data2=pd.read_csv('TR.txt')
    m=data2['Gabrielle'].value_counts()
    
    return len(m+n)

In [396]:
assert cnt_names() == 3179

# Problem 5 (0.5 point) 

Read `TerritoryReadMe.pdf` first to learn about the data in `PR.txt` and `TR.txt`.

In Puerto Rico and all other territories, calculate the number of occurrences of the start letter of the name, return the top 3 letters in a list.

In [417]:
import numpy as np
import pandas as pd
import re

def find_letters():
    # YOUR CODE HERE
    pr=pd.DataFrame(pd.read_csv('PR.txt'))
    tr=pd.DataFrame(pd.read_csv('TR.txt'))
    tr.columns=['region','sex','year','name','times']
    a=np.sum(pr.iloc[:,3])
    b=np.sum(tr.iloc[:,3])
    i=re.findall('[A-Z]',a+b)
    num=pd.value_counts(i)
    out=[num.index[0],num.index[1],num.index[2]]
    
    return out

In [418]:
assert find_letters() == ['J', 'A', 'K']

# Problem 6 (0.5 point) 

Given the data of Chipotle Restaurant in `chipotle.tsv`, find the most-ordered item.

In [285]:
import numpy as np
import pandas as pd

def find_item():
    # YOUR CODE HERE
    data=pd.read_csv('chipotle.tsv',sep='\t')
    n=data['item_name'].value_counts()
    return n.index[0]

In [286]:
assert find_item() == 'Chicken Bowl'