# Notes for STATS102, Session 2, Week 1, Oct30, Lecture, part 1

Constants (Fixed values)

In [2]:
print(123)
type(123)

123

int

In [2]:
print(98.6)

98.6

In [3]:
print('Hello world')

Hello world

In [35]:
print("Hello world")

Hello world

In [36]:
print("Welcome to our class, dku STATS102")

Welcome to our class, dku STATS102

variables

In [41]:
x = 12.2
print(type(x))
x = 100
print(type(x))

<class 'float'>
<class 'int'>

In [37]:
x = 12.2
print(x)

12.2

Reserved Words! (False class return is finally None if	for lambda 	continue True def from while nonlocal and del global not with as elif try or yield assert else import pass break except in raise)

In [42]:
if=1

SyntaxError: invalid syntax (<ipython-input-42-5e4864adb5c8>, line 1)

In [43]:
23spam=1

SyntaxError: invalid syntax (<ipython-input-43-81faafc8c23e>, line 1)

In [12]:
#sign=1

In [1]:
var.12=1

SyntaxError: invalid syntax (<ipython-input-1-3526f56f621c>, line 1)

In [46]:
abc123=1
print(abc123)

1

Must start with a letter or underscore _ 

can only consist of letters, numbers, and underscores

Case Sensitive!

In [48]:
_x3=1
_X3

NameError: name '_X3' is not defined

In [18]:
spam=1
Spam=2
SPAM=3
print('spam=',spam,'Spam=',Spam,'SPAM',SPAM)

spam= 1 Spam= 2 SPAM 3

In [19]:
x1q3z9ocd = 35.0 
x1q3z9afd = 12.50
x1q3p9afd = x1q3z9ocd * x1q3z9afd
print(x1q3p9afd)

437.5

In [20]:
a = 35.0 
b = 12.50 
c = a * b 
print(c)

437.5

In [ ]:
hours = 35.0 
rate = 12.50 
pay = hours * rate 
print(pay)

In [15]:
x = 2 #Assignment statement
x = x + 2 #Assignment with expression
print(x) #Print statement

4

In [22]:
x=0.5
x = 3 * x * ( 1 - x )
x

0.75

Expressions 
+ - * / ** %

In [50]:
xx = 2
xx = xx + 2
print(xx)
print(xx**2)
yy = 440 * 12
print(yy)
zz = yy / 1000
print(zz)
print(int(zz))
print(yy//1000)
print(yy%1000)

4
16
5280
5.28
5
5
280

In [4]:
x=int(1.9)
print(x,type(x))
x=round(1.49)
print(x,type(x))

1 <class 'int'>
1 <class 'int'>

In [28]:
x = 1 + 2 * 3 - 4 / 5 ** 6 
x

6.999744

In [56]:
x = 1 + (2 * 3) - (4 / (5 ** 6)) 
x

6.999744


Parenthesis -> Power -> Multiplication -> Addition -> Left to Right
use parentheses, keep mathematical expressions simple, break long and complex expressions up

In [58]:
x = 1 + 2 ** 3 / 4 * 5
x

11.0

In [63]:
x=1
line='hello'
temp = 98.6
type(x)
type(x)==int

True

In [37]:
ddd = 1 + 4
print(ddd)
eee = 'hello ' + 'there'
print(eee)

5
hello there

In [64]:
print('hello','there')

hello there

In [65]:
print('hello'+'there')

hellothere

In [67]:
print(1+'abd')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [72]:
#eee = 'hello ' + 'there'
#eee = eee + 1
#eee = eee + str(1)
#eee = int(eee) + 1
eee='123'
eee = int(eee) + 1
print(eee)

124

In [74]:
x=float('123.0')
type(x)

float

In [45]:
print(float(99) + 100)
i = 42
print(type(i))
f = float(i)
print(f)
print(type(f))

199.0
<class 'int'>
42.0
<class 'float'>

In [46]:
print(10 / 2) #Integer division produces a floating point result
print(9 / 2) 
print(99 / 100) 
print(10.0 / 2.0) 
print(99.0 / 100.0)

5.0
4.5
0.99
5.0
0.99

In [77]:
name = input('Who are you? ')#user input
print(type(name))
print(name)
print('Welcome',name, 'to our class!')

Who are you? 123
<class 'str'>
123
Welcome 123 to our class!

In [78]:
hours = input('how many hours do you work as student worker?')
salary_per_hour=input('what is the salary per hour in terms of dollars?')
total_salary= float(hours)*float(salary_per_hour)
print('total salary is', total_salary, 'dollars')

how many hours do you work as student worker?10
what is the salary per hour in terms of dollars?20.0
total salary is 200.0 dollars

https://docs.python.org/3.6/library/exceptions.html