Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Haitong Lin"
COLLABORATORS = ""

---

Problem 1 of Assignment 9, STATS102 Fall2019 Session 2, Duke Kunshan University, Due at Nov 13th 12ï¼š00pm beijing time
![](dku.jpg)
For this problem set, we'll be using the Jupyter notebook and nbgrader:

![](jupyter.png)

# Problem 1

Insert three zeros between each two adjacent numbers in the array $[1, 2, 3, 4, 5, 6]$, such that the returned matrix is 
$[1, 0, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 4, 0, 0, 0, 5, 0, 0, 0, 6]$.

In [37]:
import numpy as np

def insertZeros(mat):
    # YOUR CODE HERE
    a=np.zeros((len(mat)-1)*4+1)
    a[::4]=mat
    return a

In [36]:
import numpy as np

a = np.arange(1,7)

assert (insertZeros(a) == np.array([1, 0, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 4, 0, 0, 0, 5, 0, 0, 0, 6])).all()

[0. 0. 0. 0. 0. 0.]

Sort an 2D matrix by the nth column. For example:

Input A:
$$
 \begin{bmatrix}
   4 & 5 & 9 \\
   2 & 7 & 5 \\
   1 & 3 & 4 \\
 \end{bmatrix}
$$

after sorting A by the 2nd column, output:
$$
 \begin{bmatrix}
   1 & 3 & 4 \\
   4 & 5 & 9 \\
   2 & 7 & 5 \\
 \end{bmatrix}
$$

In [45]:
import numpy as np

def myfunction(A, n):
    # YOUR CODE HERE
    return A[np.argsort(A[:,n])]

In [46]:
import numpy as np

A = np.arange(0,9)[::-1].reshape(3,3)
assert (myfunction(A, 1) == np.array([[2, 1, 0],
                                       [5, 4, 3],
                                       [8, 7, 6]])).all()

Estimated Tuition and Fees for the 2019-2020 Academic Year (pending approval) for our ECE master program.

https://dukekunshan.edu.cn/en/ece/admission/cost-of-attendance

please create and return one DataFrame shown as follows:

![](ece.png)

In [43]:
import numpy as np
import pandas as pd
def myfunction():
    # YOUR CODE HERE
    array=[[1,2,2],['DKU','DKU','Duke']]
    index=pd.MultiIndex.from_arrays(array,names=('year','where'))
    domestic=['237000RMB','237000RMB','77250USD']
    international=['64500USD','64500USD','77250USD']
    tuition=pd.DataFrame({'International students':international,'Domesitic Students':domestic},index=index)
    return tuition

myfunction()

           International students Domesitic Students
year where
1    DKU                 64500USD          237000RMB
2    DKU                 64500USD          237000RMB
     Duke                77250USD           77250USD

In [44]:
#test 1 0.3pts
import numpy as np
import pandas as pd
tuition=myfunction()
assert len(tuition.index.levels)==2
assert len(tuition.index.names)==2
assert len(tuition.columns)==2
assert tuition['International students'][1]['DKU']=='64500USD'